@keyframes border-spin {
  to {
    --border-angle: 360deg;
  }
}

.border-animated {
  /* animation variable */
  --border-angle: 0deg;

  width: 100%;
  height: 100%;

  display: flex;
  overflow: hidden;

  border-radius: 16px;
  border: 1px solid transparent;

  background:
    linear-gradient(
      45deg,
      #172033,
      #1e293b 50%,
      #172033
    ) padding-box,
    conic-gradient(
      from var(--border-angle),
      rgba(100, 116, 139, 0.48) 80%,
      #06b6d4 86%,
      #67e8f9 90%,
      #06b6d4 94%,
      rgba(100, 116, 139, 0.48)
    ) border-box;

  animation: border-spin 4s linear infinite;
}

@media (max-width: 650px) {
  .border-animated{
    border-radius: 0;
  }
}
